*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

*::-webkit-scrollbar {
    display: none;
}

html{
    font-size: 62.5%;
}

@media screen and (max-width: 1500px) {
    html{
        /* font-size: 50%; */
    }
}