.border {
    position: relative;
}
.border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: .5px solid rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    pointer-events: none;
}

.sticky {
    position: sticky;
    top: 0;
}